/* css styles */

.timeline {
  position: relative;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  margin-left: 10px;
}

.timeline h3 {
  position: relative;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.timeline h3::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  background-color: gray;
  border-radius: 50%;
  z-index: 1;
}

.timeline p {
  margin: 0 0 20px 0;
}
